* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
html,body{
	scroll-behavior: smooth;
}

img{
	max-height: 100%;
	max-width: 100%;
	display: block;

}
.container{

	
	text-align: center;
}







 

@media only screen and (max-width: 400px){
	.h2{
		text-align: center;

	}
}

@media only screen and (min-width: 401px) and (max-height: 960px){
	.h2{
		text-align: center;

	}
	img{
		padding-top: 10%;

	}

}
@media only screen and (min-width: 961px){
	.h2{
		text-align: center;

	}

}