* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
html,body{
	scroll-behavior: smooth;
}

/*nav-bar items*/
.navbar {
	background-color: #9B870C;

}
.nav-item {
	font-weight: bold;
	font-size: 30px;
	margin-left: 20px;
	

}
.nav-item1 {
	font-weight: bold;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 0px;
	display: block;

}
h2{
		color: white;
	}
.galleryPage >h2 {
	color: black;
	text-align: center;
}
.navbar-brand {
	font-weight: bold;
	font-size: 30px;

}
.nav-link {
	color: black;
	font-size: 20px;
}
/*landing page*/


#jumbo-landing{
	height: 100vh;
	background: linear-gradient(rgba(17,126,112,0.75),
		rgba(0,0,0,0.75)),url("../images/autumn1.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	border-radius: 0;



}

/*gallery*/
#gallery-landing {
	background:

	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0, 0.75)		
		),

	url("../images/tulips.JPG");

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius:0;
	margin-bottom:0;
	font-family: 'Raleway', sans-serif;
}
#landing-gallery {

	color:white;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	
}
.btn1 a {

	text-decoration: none;
	color: #fff;

}

.btn1 {
	padding: 14px 50px;
	font-size: 30px;
	border-radius: 50%;
	background-color: #9B870C;
}
.carousel-inner {

	width: 100%;
 
}
#carousel-home{
	height: 50vh;
}
#carousel-home img{
	height: 50vh;
}

/*end of gallery*/
#jumbotron-contact {
	background:

	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0, 0.75)		
		),

	url("../images/festival.jpeg");

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius:0;
	margin-bottom:0;
	font-family: 'Raleway', sans-serif;
}
#landing-contact {

	color:#f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	
}


#jumbotron-section > .btn{
	background-color: #9B870C;
	font-weight: bold;
	color: white;
}
/*home*/

/*About me*/
.btn4{
	background-color: #9B870C;
}
.btn8{
	background-color: #9B870C;
	padding: 5px;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
}
#about-landing {
	background:

	linear-gradient(
		rgba(17,126,112,0.75),
		rgba(0,0,0, 0.75)		
		),

	url("../images/baseball.jpeg");

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius:0;
	margin-bottom:0;
	font-family: 'Raleway', sans-serif;
}
#landing-about {

	color:white;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	text-align: center;
	
}
.btn1 a {

	text-decoration: none;
	color: #fff;

}

}
.history > .border{
	border: double;
	padding: 3%;
	margin: 3%;
}

/*about-me*/

.column {
	float: left;
	width: 33.33%;	
}

#gmap{
	width: 100%;
	display: block;
	border: none;
	height: 50vh;
	border-radius: 10px;
	overflow: hidden;
}
.card {
	margin-top: 5%;
	min-height: 500px;
	margin-bottom: 5%;
	
	
}
.gallery{
	margin-left: 8%;
	height: 100%;
	margin-bottom: 10%;
}
.carousel > a{
	color: black;
	font-size: 
}
.bottom{
	margin-top: : 10vh;
}

/*contact*/
i{
	color: black;
}
	
@media only screen and (max-width: 400px){

	/*INDEX.HTML*/
	.navbar-brand{
		font-size: 20px;
	}
	.nav-item{
		font-size: 20px;

	}
	.h2{
		text-align: center;

	}
	img{
		height: 100%;
		width: 100%;
		display: block;


	}
	h1{
		font-size: 28px;
		font-weight: bold;
		font-family: 'Playball', cursive;
		text-align: center;
		color: white;

	}
	h2{
		font-size: 20px;
		font-weight: bold;
		font-family: 'Playball', cursive;
	}
	.lead{
		font-size: 13px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		color: white;
	}
	.btn{
		color: white;
		margin-left: 15%
		background-color:#9B870C;
		/*color: blue;*/

	
	}
	.navbar > .navbar-brand >img{
	height: 40px;
	width: 40px;

	
	}
	h4{
	font-family: 'Raleway', sans-serif;	
	font-size: 18px;
	font-weight: bold;
	margin-top: 5%;
	}


		/*END OF INDEX*/
		/*START GALLERY*/
	h3 {
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}
	.btn1 {
		padding: 14px 50px;
		font-size: 15px;
		border-radius: 50%;
		background-color:#9B870C;

	}
	
	.seasons{
		font-size: 30px;
	}
	.foods{
		font-size: 30px;
	}
	.tourists{
		font-size: 30px;
	}
	.carousel{
		font-size: 30px;

	}
	.carousel-caption  {
		font-size: 30px;
		color: white;
	}
	.card-text{
		font-size: 15px;
		text-align: justify ;
	}
	.nav-item{
		text-align: center;
	}
	#landing-gallery {

	color:white;
	font-size: 2em;
	padding-top: 20vh;
	letter-spacing: 5px;
	
	}
	/*END OF GALLERY*/
	strong{
		color:#9B870C; 
	}
	h5{
		font-size: 10px;
	}
	.about{
		margin-left: 0;
	}
	/*about me*/
	.btn2 {
		padding: 14px 40px;
		font-size: 20px;
		border-radius: 50%;
	}
	.about-text{
	text-align: center ;
	padding: 5%;
	}
	.about-text > p{
	text-align: justify ;
	font-size: 15px;
	}
	#landing-about {

	color:white;
	font-size: 3em;
	padding-top: 20vh;
	letter-spacing: 5px;
	
	
	}
	.btn3 {
		padding: 14px 40px;
		font-size: 20px;
		border-radius: 50%;
	
	}


/*about-me*/	
	#gmap{
	width: 100%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 5%;
	}
	#landing-contact {

	color:white;
	font-size: 3em;
	padding-top: 20vh;
	letter-spacing: 5px;
	
	
	}
	.btn6{
		color: black;
		margin-left: 40%;
		margin-top: 5%;
		background-color: #9B870C;
	}
	.footer > .nav-item > .nav-link{
		font-size: 10px;
	}
	a{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: black;
	}
	.btn7{
		color: black;
		border: none;
		
		

		
	}
}


@media only screen and (min-width: 401px) and (max-height: 960px){
	
	.navbar-brand{
		font-size: 20px;
	}
	.nav-item{
		font-size: 20px;
		
	}
	.nav-item1 {
	font-weight: bold;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 7px;

	}

	#jumbo-landing{
		padding-top: 10%;
	}
	img{
		height: 100%;
		width: 100%;
		display: block;


	}
	.h2{
		text-align: center;

	}

	h1 {
		font-size: 60px;
		font-weight: bold;
		font-family: 'Playball', cursive;
		color: white;
	/*	padding-top: 5%;*/
	}
	h2{
		font-size: 40px;
		font-weight: bold;
		font-family: 'Playball', cursive;
	}
	.lead{
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		color: white;
	}
	.btn{
		margin-left: 40%;
		color: white;
		background-color: #9B870C;
	/*END OF INDEX*/
	}
	.navbar > .navbar-brand >img{
	height: 50px;
	width: 50px;

	
	}
	.card {
	margin-top: 5%;
	min-height: 350px;
	margin-bottom: 5%;
	
	
}
	h4{
	font-family: 'Raleway', sans-serif;	
	font-size: 25px;
	font-weight: bold;
	margin-top: 2%;
	margin-right: 50%;
	}
	.about-section {
		padding: 0;
	}
	.about-me{
		padding: 60px;
	}
	h3 {
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}
	strong{
		color:#9B870C; 
	}
	.carousel-caption  {
	top: 50px;
	bottom: auto;
	font-size: 30px;
	color: black;
	}
	.seasons{
		font-size: 50px;
	}
	.foods{
		font-size: 50px;
	}
	.tourists{
		font-size: 50px;
	}
	.carousel{
		font-size: 50px;
	}
	.card-text{
		font-size: 10px;
		text-align: justify;
	}
	h5{
		font-size: 20px;
	}
	/*about me*/	
	.btn2 {
		padding: 14px 50px;
		font-size: 20px;
		border-radius: 50%;
	}
	.about-text{
	text-align: center ;
	
	}
	.about-text > p{
	text-align: justify ;
	font-size: 13px;
	}
	.history > .border{
	border: solid;
	padding: 2%;
	margin: 2%;
	}
	.about-text> h2{
	font-size: 30px;
	color: black;

	}
	#landing-about {

	color:white;
	font-size: 4em;
	padding-top: 20vh;
	letter-spacing: 5px;
	}
	.btn3{
		padding: 14px 50px;
		font-size: 20px;
		border-radius: 50%;
		margin-top: 5%
	}
	#landing-contact {

	color:white;
	font-size: 3em;
	padding-top: 20vh;
	letter-spacing: 5px;
	}
	.btn6{
		color: black;
		margin-left: 45%;
		border-radius: 5%;
		background-color: #9B870C;
	}
	a{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: black;
	}
	#landing-gallery {

	color:white;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	
	}
	.btn1 {
		padding: 14px 50px;
		font-size: 25px;
		border-radius: 50%;
		background-color: #9B870C;
	}
	#gmap{
	width: 100%;
	display: block;
	border: none;
	height: 73vh;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 5%;
	}
}

@media only screen and (min-width: 961px){
	#jumbo-landing{
		/*padding-top: 30%;*/
	}
	h1{
		color: white;
		font-size: 125px;
		font-weight: bold;
		font-family: 'Playball', cursive;
		text-align: center;
		
	}
	.lead{
		font-size: 30px;
		font-family: 'Roboto', sans-serif;
		color: white;
	}
	.btn{
		display: flex;
  		justify-content: center;
  		align-items: center;
  		color: white;
  		margin-left: 40%;
  		background-color: #9B870C;
  		

	}
	h2{
		color: white;
	}
	h3 {
		font-size: 35px;
		font-family: 'Roboto', sans-serif;
		text-align: center;

	}
	.navbar > .navbar-brand >img{
	height: 50px;
	width: 50px;
	margin-left: 50px;
	}
	h4{
	font-family: 'Raleway', sans-serif;	
	font-weight: bold;
	margin-top: 10px;
	}

	/*END OF INDEX*/
	strong{
		color:#9B870C; 
	}
	#left-picture{
		margin-left: 10%;
		width: 20%;

	}
	.carousel{
		font-size: 90px;
	}
	.seasons{
		font-size: 50px;
	}
	.foods{
		font-size: 50px;
	}
	.tourists{
		font-size: 50px;
	}
	.carousel-caption  {
	top: 50px;
	bottom: auto;
	font-size: 50px;
	}
	.card-text{
		font-size: 15px;
		text-align: justify;
	}
	.about-text{
	text-align: center ;
	padding: 5%;
	
	}
	.about-text > p{
	text-align: justify ;
	font-size: 20px;
	}
	.history > .border{
	border: solid;
	padding: 3%;
	margin: 3%;
	}
	.about-text> h2{
	font-size: 50px;
	color: black;

	}
	#landing-about {

	color:white;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	}
	#landing-contact {

	color:white;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	}
	.btn6{
		color: black;
		margin-left: 45%;
		border-radius: 5%;
		background-color: #9B870C;
		font-size: 30px;

	}
	a{
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		color: black;

	}
	h6{
		margin-top: 50px;
	}
}
